# See https://github.com/marketplace/actions/simple-issue-labeler

name: issue-automation

on:
  workflow_dispatch:
    inputs:
      mylabel:
         description: "Label to apply"
         required: false
         default: "product-feedback"
  schedule:
    - cron: "*/5 * * * *"

jobs:
  automate-issues-labels:
    runs-on: ubuntu-latest
    steps:
      - name: "apply-label"
        uses: andymckay/labeler@master
        with:
          add-labels: "product-feedback"
          ignore-if-labeled: true
          
